import logging
import os


class Config(object):

    # Remember to delete the SQLite SQLALCHEMY_DATABASE_URI for SQLAlchemy if you use SQL Server or Postgres

    # SQL Server
    # DATABASE_USER = os.environ.get('DATABASE_USER') or "testuser"
    # DATABASE_PASSWORD = os.environ.get('DATABASE_PASSWORD') or "testpassword"
    # DATABASE_SERVER_NAME = os.environ.get('DATABASE_SERVER_NAME') or "DESKTOP\\SQLEXPRESS"
    # DATABASE_NAME = os.environ.get('DATABASE_NAME') or "test"
    # params = urllib.parse.quote_plus(f"DRIVER={{SQL Server}};SERVER={DATABASE_SERVER_NAME};DATABASE={DATABASE_NAME};UID={DATABASE_USER};PWD={DATABASE_PASSWORD}")
    # SQLALCHEMY_DATABASE_URI = "mssql+pyodbc:///?odbc_connect=%s" % params

    # PostgreSQL
    # DATABASE_USER = os.environ.get('DATABASE_USER') or "postgres"
    # DATABASE_ADDRESS = os.environ.get('DATABASE_ADDRESS') or "192.168.0.200"
    # DATABASE_PORT = os.environ.get('DATABASE_PORT') or "5432"
    # DATABASE_NAME = os.environ.get('DATABASE_NAME') or "test"
    # DATABASE_PASSWORD = os.environ.get('DATABASE_PASSWORD') or "testpassword"
    # SQLALCHEMY_DATABASE_URI = "postgres://{user}:{password}@{address}:{port}/{database}".format(
    #     user=DATABASE_USER,
    #     password=DATABASE_PASSWORD,
    #     address=DATABASE_ADDRESS,
    #     port=DATABASE_PORT,
    #     database=DATABASE_NAME)

    # SQLite
    SQLALCHEMY_DATABASE_URI = f"sqlite:///prod.db"

    SQLALCHEMY_TRACK_MODIFICATIONS = False

    STREAM_LOGGING_LEVEL = logging.DEBUG  # Set this to control the amount of messages in the command window. options: logging.INFO, logging.ERROR
    FILE_LOGGING_LEVEL = logging.DEBUG  # Set this to control the amount of messages being saved to the log file
    FLASK_LOG_FILE = 'logs/server.log'
    ROTATING_LOG_FILE_MAX_BYTES = 1024000  # The max file size of the log file before it starts a new file
    ROTATING_LOG_FILE_COUNT = 10  # The number of log files to create
    LOG_FORMATTER = logging.Formatter('%(asctime)s %(levelname)s: %(message)s')

    ACCEPT_ANY_RFID = False  # This will create an entry in the ItemLog every time an unknown RFID tag is scanned. Not recommended for regular usage
